*{
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
    justify-content: space-around;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 600px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.open__modal{
    width: 480px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#video{
    margin-top: 5px;
}

.play, .pause{
    position: absolute;
    top: 45%;
    right: 45%;
}

.play{
    background-image: url(../media/play-circle-solid.svg);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.pause{
    background-image: url(../media/pause-circle-solid.svg);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.text__container{
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    width: auto;
    padding: 10px;
}

@media (max-width: 768px){
   main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }

   .text__container{
       max-width: 480px;
   }
}

